.App {
  margin: 0px;
  padding: 40px;
}
h1 {
  font-size: 40px;
  color: green;
}
.data {
  padding: 30px;
  border: 0.5px solid red;
  border-radius: 10px;
  background-color: lightblue;
}
.item {
  color: indianred;
}
span {
  color: black;
}
.technologies {
  width: 100%;
  font-size: 30px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
li {
  margin-right: 10px;
  padding: 10px;
}
